{% extends 'base.html' %}

{% block title %} Личный кабинет {% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
<div class="card mx-auto mt-5" style= background-color:#F7F4F3">
  <h5 class="card-header"> {{current_user.username }} </h5>
  <div class="card-body">
      {% if current_user.profile_pic %}
        <img src="{{ url_for('static', filename='images/' + current_user.profile_pic) }}" width=200>
      {% else %}
        <img src="{{ url_for('static', filename='images/default_profile_pic.png') }}" width=200>
      {% endif %}
    <h5 class="card-title">Welcome to your account profile</h5>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action list-group-item-light"><strong>Name:</strong> {{ current_user.username }} </li>
        <li class="list-group-item list-group-item-action list-group-item-light"><strong>E-mail:</strong> {{ current_user.email }} </li>
        <li class="list-group-item list-group-item-action list-group-item-light"><strong>ID:</strong> {{ current_user.id }} </li>
        <li class="list-group-item list-group-item-action list-group-item-light"><strong>Registration date:</strong> {{ current_user.date_added }} </li>
        <li class="list-group-item list-group-item-action list-group-item-light"><strong>Age:</strong> {{ current_user.age }} </li>
    </ul>
    <a href="{{ url_for('logout') }}" class="btn btn-outline-danger mt-2" type="button">Выйти</a>
    <a href="{{ url_for('update', id=current_user.id) }}" class="btn btn-outline-warning mt-2" type="button">Изменить</a> <br>

  </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        Изменить
    </div>
    <div class="card-body">
        <form action="/account" method="post" enctype="multipart/form-data" novalidate class="mt-5">
        <h1> Введите новое имя или адрес электронной почты </h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label(class="form-label") }}<br>
            {{ form.username(class="form-control", value=name_to_update.username) }}<br>
            {{ form.email.label(class="form-label") }}<br>
            {{ form.email(class="form-control", value=name_to_update.email) }}<br>
            {{ form.profile_pic.label(class="form-label") }}<br>
            {{ form.profile_pic(class="form-control", value=name_to_update.profile_pic) }}<br>
            {{ form.age(class="form-control", value=name_to_update.age) }}<br>
            {{ form.submit(class="btn btn-outline-success") }}
        </p>
</form>
    </div>
</div>
{% endblock %}